.indicator {
    border-radius: 100px;
    color: @accent_fg_color;
    background-color: @accent_bg_color;
    font-weight: 600;
    padding: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: smaller;
}

